@import '../lib';

@media $base-tablet {
    .html-rtl {
        .settings-hover-desktop {
            left: 15px;
            right: auto;
            top: 55px;
        }
        .header-settings-wrap .triangle {
            left: 28px;
            top: 5px;
        }
    }
}
